@use "../vars/colors" as *;
@use "../vars/screens" as *;

.header {
    background-color: $blueElectrik;
    color: $white;   
    nav {
        ul {
            display: none;
            width: 100%;
            background-color: $black;
            text-align: center;
            list-style: none;
            flex-direction: row;
            justify-content: space-evenly;
            display: flex;
            li {
                font-weight: bold;
                padding: 0.3em;
                a {
                    color: $white;
                    text-decoration: none;
                }
                &:hover {
                    color: $black;
                    background-color: $yellow;
                }
            }
        }
    }
}