{% extends 'base.html.twig' %}

{% block title %}New Quote{% endblock %}

{% block body %}
    <main id="container">
        <aside class="menu">
            <h1>Create new Quote</h1>
            <ul>
                <li><a href="{{ path('quotes') }}" class="btn">Quotes list</a></li>
                <li><a href="{{ path('app_quote_new') }}" class="btn">Create new</a></li>
            </ul>
        </aside>
        <section class="content">
            {{ include('quote/_form.html.twig') }}
        </section>
    </main>
{% endblock %}
